<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIdentifier</key>
	<string>com.fanreact.upward</string>
	<key>CFBundleVersion</key>
	<string>1.0.06</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>9.0</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Main</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIMainStoryboardFile~ipad</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Fonts/Overpass_Regular.ttf</string>
		<string>Fonts/Overpass_Bold.ttf</string>
		<string>iconize-fontawesome.ttf</string>
		<string>iconize-material.ttf</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Allow use of camera to take a photo for a post.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allow access of photo library to upload existing photos for new posts.</string>
	<key>remote-notification</key>
	<true/>
	<key>aps-environment</key>
	<string>development</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>remote-notification</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>FacebookAppID</key>
	<string>707911252630998</string>
	<key>FacebookDisplayName</key>
	<string>MLL</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb707911252630998</string>
				<string>mobilecenter-a699460a-0d1a-4bf3-ad97-814103e5a097</string>
			</array>
			<key>CFBundleURLName</key>
			<string>com.fanreact.mll</string>
			<key>CFBundleURLTypes</key>
			<string>Viewer</string>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbauth2</string>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbshareextension</string>
	</array>
	<key>Redirect URL</key>
	<string>https://www.facebook.com/connect/login_success.html</string>
	<key>XSLaunchImageAssets</key>
	<string>Assets.xcassets/LaunchImage.launchimage</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon-UW.appiconset</string>
	<key>CFBundleName</key>
	<string>Upward Sports</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.00</string>
</dict>
</plist>
