<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.fanreact.upward_sports"
          android:versionName="0.2" android:versionCode="4">
    <uses-sdk android:minSdkVersion="23" android:targetSdkVersion="25" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:theme="@style/UpwardSports_Theme" android:label="Upward Sports"
                 android:icon="@mipmap/upward_launcher_icon" android:hardwareAccelerated="false"
                 android:largeHeap="true">
    </application>
</manifest>